tmp
*.puo
*.suo
system/logs/*
images/uploads/*
application/config/config.php
application/config/database.php
.htaccess
application/config/email.php
web.config
application/config/Email.php
.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
application/config/postmark.php
!application/logs/index.html
!application/logs/.htaccess